/* //font  */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

body {
    background-color: rgb(71, 120, 255);
    color: aliceblue;
    font-family: 'Space Grotesk', sans-serif;
}


/* general */

